<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/thing.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Movie Rating System</title>
</head>
<body>
<div class="container">
    <br/>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" action="#" th:action="@{/index}" method="get">
                <div class="card-body row no-gutters align-items-center">
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search"
                               placeholder="Movie name" th:name="name">
                    </div>
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search"
                               placeholder="Director name" th:name="dName">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
</div>


<section class="vantagens">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Movie List</h3>
                <a class="btn btn-lg btn-primary" href="/movie/create">Create Movie</a>
                <div class="row row-margin-bottom mt-5">
                    <!--This is an object you want-->
                    <div class="col-md-6 no-padding lib-item" data-category="view" th:each="movie: ${movies}">
                        <div class="lib-panel">
                            <div class="row box-shadow w-100">
                                <div class="col-md-6 image-row">
                                    <a href="" th:href="@{'/movie/'+${movie.id}}">
                                        <img th:src="@{'data:image/png;base64, '+${movie.poster}}">
                                    </a>
                                </div>
                                <div class="col-md-6 card-text">
                                    <div class="lib-row lib-header text-left pl-5">
                                        <span class="blue"><a href="" th:text="${movie.name}"
                                                              th:href="@{'/movie/'+${movie.id}}">Movie name</a></span>
                                        <div class="lib-header-seperator"></div>
                                    </div>
                                    <div class="lib-row lib-desc pl-5" th:text="${movie.description}">Movie
                                        description
                                    </div>
                                    <div class="lib-row lib-desc pl-5"
                                         th:text="@{'🌟 Rating: ' + ${movie.avgRating} + '/10'}">Rating
                                    </div>
                                    <a href="" th:text="@{'Director: ' + ${movie.director.name}}"
                                       th:href="@{'/person/' + ${movie.director.id}}">Clickable Movie Director, please
                                        make me a button</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--And it ends here-->
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>